h2,
p,
i {
    margin: 4px
}

.attackCost {
    margin: 4px
}

.cardImage {
    text-align: center;
    width: 45%;
    margin-bottom: 10px;
    margin-left: 2%;
}

.cardText {
    overflow-y: auto;
    overflow-x: hidden;
    /*Exact Card Height*/
    max-height: 342px;
    color: white;
    background: #00000047;
    border-radius: 10px;
    margin-right: 2%;
    margin-left: 2%;
    width: 58%;
}

.cardText ul {
    list-style: none;
    padding-left: 10px
}

.cardText p,
.cardText i {
    font-size: 14px;
    line-height: 17px;
}

.cardText li {
    margin-bottom: 20px;
}

.cardText hr {
    margin: 0;
    margin-left: 4%;
    margin-right: 6%;
}

.ability p {
    font-style: italic;
}

.abilityLabel {
    color: #ffffff;
    font-style: italic;
    font-weight: 600;
    text-shadow: 0px 0px 5px #ff0000;
    font-size: 14px;
    margin-left: 2%;
}

.attackName {
    display: inline-block;
    width: 80%;
}

.damage {
    width: 18%;
    text-align: right;
    display: inline-block;
}

.noCardText {
    height: 100%;
    position: relative;
}

.noCardText p {
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-bottom: 20px;
}

.cardHeading {
    display: flex;
    flex-direction: row;
    margin: 0 5%;
    position: relative;
}

.cardHeading h2 {
    width: 70%;
}

.subtypes {
    position: absolute;
    right: 0;
}

.subtypes ul {
    margin: 0;
    margin-top: 5%;
    text-align: right;
    padding-left: 0;
}

.subtypes li {
    margin: 0;
}