h2,
p {
    margin: 4px
}

.attackCost {
    margin: 4px
}

.cardText {
    width: 46%;
    scrollbar-width: thin;
    overflow-y: auto;
    max-height: 340px;
}

.cardText ul {
    list-style: none;
    padding-left: 10px
}

.cardText p {
    font-size: 14px
}