.fadeOut {
    animation: fadeOutAnim 4s;
}

@keyframes fadeOutAnim {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.statusBar {
    position: absolute;
    color: white;
    text-shadow: 1px 1px black;
    font-weight: bold;
    bottom: 2%;
    left: 2%;
    right: 2%;
    background-image: url("/public/loadingTexture.png");
    animation: progress-bar-stripes 1s linear infinite;
    height: 24px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: larger;
    font-family: sans-serif;
}

.statusBar p {
    margin-left: 10px;
}

@keyframes progress-bar-stripes {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 59px 0;
    }
}

::-webkit-scrollbar {
    width: 8px;
    border: none;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.282);
    border: none;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-clip: content-box;
    background-color: #ffffff8d;
}