h2,
h3,
p,
i {
    margin: 4px
}

.attackCost {
    margin: 4px
}

.cardImage {
    text-align: center;
    width: 45%;
    margin-bottom: 10px;
    margin-left: 2%;
}

.cardInfo {
    display: flex;
    flex-flow: column;
    height: 342px;
}

.noCardText {
    max-height: 342px;
    color: white;
    background: #00000047;
    height: 100%;
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.noCardText p {
    text-align: center;
    width: 70%;
    margin-left: 15%;
    font-size: 16px;
}

.cardText {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 342px;
    color: white;
    background: #00000047;
    height: 77%;
    border: 1px solid black;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.cardText ul {
    list-style: none;
    padding-left: 10px
}

.cardText p,
.cardText i {
    font-size: 14px;
    line-height: 17px;
}

.cardText li {
    margin-bottom: 20px;
}

.cardText hr {
    margin: 0;
    margin-left: 4%;
    margin-right: 6%;
}

.ability p {
    font-style: italic;
}

.abilityLabel {
    color: #ffffff;
    font-style: italic;
    font-weight: 600;
    text-shadow: 0px 0px 5px #ff0000;
    font-size: 14px;
    margin-left: 2%;
}

.attackName {
    display: inline-block;
    width: 80%;
}

.damage {
    width: 18%;
    text-align: right;
    display: inline-block;
}

.noCardText {
    height: 100%;
    position: relative;
}

.noCardText p {
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-bottom: 20px;
}

.cardHeading {
    display: flex;
    flex-direction: row;
    padding: 2% 5%;
    position: relative;
    justify-content: space-between;
    color: white;
    border-radius: 10px 10px 0 0;
    background: #0000008f;
}

.cardHeading h2 {
    width: 70%;
    margin: 0;
}


.subtypes {
    margin: 10px;
    background-color: #00000070;
    border-radius: 6px;
    padding: 2px;
}

.subtypes ul {
    display: inline;
    list-style: none;
}

.subtypes li {
    display: inline;
}

.subtypes li+li:before {
    content: ", ";
}

.cardInfo {
    margin-left: 2%;
    margin-right: 2%;
    width: 58%;
}

.setInfo {
    background: #0000008c;
    color: white;
    width: 100%;
    border-radius: 0 0 10px 10px;
    text-align: right;
    height: 24px;
}

.setInfo img {
    width: 20px;
    max-height: 20px;
    vertical-align: middle;
    display: inline;
    margin: 0px 5px;
}

.setInfo #set {
    display: inline;
    margin-right: 10px;
    padding-bottom: 10px;
    cursor: default;
}

.cardHeading #hp {
    display: inline;
    text-align: right;
}

.cardHeading .types div {
    display: inline-block;
    position: absolute;
    right: 2%;
}

.cardHeading .types {
    width: 22%;
}

.searchOptions {
    display: flex;
    justify-content: center;
}

.searchOptions ul {
    display: flex;
    padding: 0;
    justify-content: space-evenly;
    width: 80%;
    color: white;
}

.searchOptions li {
    display: inline;
}

.effects {
    flex: 1;
}

.retreatCost {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2%;
}