.fadeOut {
    animation: fadeOutAnim 4s;
}

@keyframes fadeOutAnim {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.statusList {
    position: absolute;
    bottom: 2%;
    right: 2%;
    left: 2%;
    list-style: none;
    padding: 0px;
}

.statusBar {
    color: white;
    text-shadow: 1px 1px black;
    font-weight: bold;
    background-image: url(chrome-extension://lkmkfgkjljefjfdnnhgpbdlijeflndmp/js/assets/images/loadingTexture.png);
    animation: progress-bar-stripes 1s linear infinite;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: larger;
    font-family: sans-serif;
    margin-top: 4px;
    line-height: 30px;
    padding-left: 5px;
}

@keyframes progress-bar-stripes {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 59px 0;
    }
}

::-webkit-scrollbar {
    width: 8px;
    border: none;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.282);
    border: none;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-clip: content-box;
    background-color: #ffffff8d;
}

body {
    border: 6px solid black;
    border-radius: 17px;
    background-color: white;
    margin: 0px;
    background: url("@images/background.png");
    background-color: #ffffff;
    background-blend-mode: luminosity;
    transition: background-color 1s;
    min-width: 575px;
}